<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="login"{% if message_exists('error') %} class="error"{% endif %} style="background-image: url({{ image_path(random(config('pyrocms.theme.pyrocms::design.backgrounds'))) }})">

{{ block('content') }}

{% include "theme::partials/js" %}

</body>
</html>
