#login {
    width: 100%;
    height: 100%;
    padding-top: 35vh;
    margin-top: -5rem;
    background: $brand-primary;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center;

    .logo {
        opacity: 0.6;
        text-align: center;
        margin-bottom: 2em;
    }

    @-webkit-keyframes shake {
        8%, 41% { -webkit-transform: translateX(-10px); }
        25%, 58% { -webkit-transform: translateX(10px); }
        75% { -webkit-transform: translateX(-5px); }
        92% { -webkit-transform: translateX(5px); }
        0%, 100% { -webkit-transform: translateX(0); }
    }

    @-moz-keyframes shake {
        8%, 41% { -webkit-transform: translateX(-10px); }
        25%, 58% { -webkit-transform: translateX(10px); }
        75% { -webkit-transform: translateX(-5px); }
        92% { -webkit-transform: translateX(5px); }
        0%, 100% { -webkit-transform: translateX(0); }
    }

    @-o-keyframes shake {
        8%, 41% { -webkit-transform: translateX(-10px); }
        25%, 58% { -webkit-transform: translateX(10px); }
        75% { -webkit-transform: translateX(-5px); }
        92% { -webkit-transform: translateX(5px); }
        0%, 100% { -webkit-transform: translateX(0); }
    }

    @keyframes shake {
        8%, 41% { transform: translateX(-10px); }
        25%, 58% { transform: translateX(10px); }
        75% { transform: translateX(-5px); }
        92% { transform: translateX(5px); }
        0%, 100% { transform: translateX(0); }
    }

    &.error form {

        -webkit-animation: shake .75s linear; /* Safari 4+ */
        -moz-animation: shake .75s linear;    /* Fx 5+ */
        -o-animation: shake .75s linear;      /* Opera 12+ */
        animation: shake .75s linear;         /* IE 10+, Fx 16+ */

        -webkit-animation-delay: .25s; /* Safari 4+ */
        -moz-animation-delay: .25s;    /* Fx 5+ */
        -o-animation-delay: .25s;      /* Opera 12+ */
        animation-delay: .25s;         /* IE 10+, Fx 16+ */

    }

    form {

        label {
            color: $white;
        }

        .credentials {
            position: relative;

            input {
                color: $input-color-placeholder;
                background: rgba(66, 66, 66, 0.3);
                border-color: rgba(255, 255, 255, 0.2);

                &[type="email"] {
                    margin-bottom: 0;
                    border-bottom: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-right: 40px;
                }

                &[type="text"] {
                    margin-bottom: 0;
                    border-bottom: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-right: 40px;
                }

                &[type="password"] {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    padding-right: 40px;
                }
            }

            i {
                right: 1em;
                margin-top: -1.6em;
                position: absolute;
                color: $input-color-placeholder;

                &.fa-lock {
                    right: 1.15em;
                }
            }
        }
    }

}
